h1{color: red}
body {background-color: #f19898;}
p {
	
	padding: 50px 50px 50px 50px;
	clear: left;
	overflow: auto;
}
.kowe {
	color: blue;
}
#aku {
	color: white;
}
div{
	height: 200px;
	width: 300px;
	background-color: white;
	margin-left: 20px;
	padding-left: 20px;
	border-style: dotted;
	float: left;

}